contourpy==1.0.6
cycler==0.11.0
editdistance==0.6.2
fonttools==4.38.0
jiwer==2.5.1
kiwisolver==1.4.4
Levenshtein==0.20.2
matplotlib==3.6.2
numpy==1.23.5
packaging==21.3
Pillow==9.3.0
PyMuPDF==1.21.0
pyparsing==3.0.9
pytesseract==0.3.10
python-dateutil==2.8.2
rapidfuzz==2.13.7
six==1.16.0
